@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    background: #1F2937;
}

.header-content,
.hero-content,
.info-content,
.quote-content,
.cta-content,
.footer-content {
    display: flex;
    padding: 0;
    margin: 0 200px;
}

.header-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-link,
.hero-secondary,
.footer-content,
.img {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400; 
}

.header-link {
    text-decoration: none;
    padding: 0;
    margin-left: 16px;
}

.link-one {
    margin-left: auto;
}

.hero-content {
    padding: 100px 0;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
}

.hero-main {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.bt-hero {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    max-width: fit-content;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #3882F6;
}

.hero-img {
    background: #808080;
    width: 400px;
    height: 200px;
    border: none;
    border-radius: 36px;
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
}

.info-content,
.quote-content {
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
}

.info-header {
    display: flex;
    padding: 36px 0;
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
}

.random-stuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 36px;
}

.stuff {
    max-width: 150px;
}

.info-box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.info-text {
    display: flex;
    padding: 8px 0;
    text-align: center;
    color: #1F2937;
}

.quote {
    background: #E5E7EB;
}

.quote-content {
    display: flex;
    padding: 64px;
}

.quote-text {
    display: flex;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    display: flex;
    align-self: flex-end;
    font-size: 36px;
    font-weight: 700;
}

.footer {
    margin-top: auto;
}

.footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
}